---
layout: default
title: Buscar
modes: true
---

  	{% include partials/header-search.html %}  	
<main id="page-main">
	<div id="layout">
    	<div id="buscar-resultats">
<script>
  (function() {
    var cx = '001251290766013693580:1biecpywwe8';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox></gcse:searchbox>
		</div>
	</div>
	<em><hr></em>
	<div>
		<section id="follows">
		{% include partials/suscribe.html %}
		</section>
	</div>
</main>