---
layout: default
title: Buscar
modes: true
---

  	{% include partials/header-search.html %}  	
<main id="page-main">
	<div id="layout">
    	<div id="buscar-resultats">
<script>
  (function() {
    var cx = 'partner-pub-2493257171023914:6177620106';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox></gcse:searchbox>
<gcse:searchresults></gcse:searchresults>
		</div>
	</div>
	<em><hr></em>
	<div>
		<section id="buscar-related">
<script type="text/javascript" src="http://www.google.com/cse/query_renderer.js"></script>
<div id="queries"></div>
<script src="http://www.google.com/cse/api/partner-pub-2493257171023914/cse/6177620106/queries/js?oe=UTF-8&amp;callback=(new+PopularQueryRenderer(document.getElementById(%22queries%22))).render"></script>
		</section>
	</div>
	<div>
		<section id="follows">
		{% include partials/suscribe.html %}
		</section>
	</div>
</main>