---
layout: default
modes: true
paginate: 2
---

  	{% include partials/navigation/nav.html %}
  	{% include partials/head.html %}  	
<main id="page-main" role="main">
	<div id="layout">
					<nav class="nav-scroll anm-moveFromLeftFade">
						<div>
							<label for="layout-simple" title="Simple" id="label-simple" class="anm-zoomIn delay-500"><b>&timesb;</b><br>Ampliar</label>
							<label for="layout-list" title="List" id="label-list" class="anm-zoomIn delay-600"><b>&minusb;</b><br>Lista</label>
							<label for="layout-gallery" title="Gallery" id="label-gallery" class="anm-zoomIn delay-700"><b>&plusb;</b><br>Galeria</label>
							<label for="theme-dark" id="label-dark" data-title="Dark theme" class="anm-zoomIn delay-800"><b>&FilledSmallSquare;</b><br>Oscuro</label>
							<label for="theme-soft" id="label-soft" data-title="Soft theme" class="anm-zoomIn delay-900"><b>&star;</b><br>Rojo</label>
							<label for="theme-light" id="label-light" data-title="Light theme" class="anm-zoomIn delay-1000"><b>&EmptySmallSquare;</b><br>Blanco</label>
						 </div>
					</nav>
					<hr>
					<input type="radio" name="layout" id="layout-simple" aria-hidden="true" hidden checked>
					<input type="radio" name="layout" id="layout-list" aria-hidden="true" hidden>
					<input type="radio" name="layout" id="layout-gallery" aria-hidden="true" hidden>
					<!-- Theme inputs (invisibles) -->		
					<input type="radio" id="theme-light" name="theme" aria-hidden="true" hidden>
					<input type="radio" id="theme-soft" name="theme" aria-hidden="true" hidden>
					<input type="radio" id="theme-dark" name="theme" aria-hidden="true" hidden>
							
	<div class="content">
  		{% for post in paginator.posts %}
    	<div id="layout-result">
      		<article class="anm-fadeIn delay-1500">
				<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
				<strong>{{ post.category }}</strong>
        		<div>{% if post.id %}<a href="{{ site.baseurl }}{{ post.url }}"><img class="blog-img" src="https://i1.ytimg.com/vi/{{ post.img }}/maxresdefault.jpg"></a>{% endif %}{{ post.excerpt }}</div>
      			<nav><a href="{{ site.baseurl }}{{ post.url }}" class="read-more"><b>[+]</b></a></nav>
      		</article>
    	</div>
  		{% endfor %}
  		
		{% if paginator.total_pages > 1 %}
		<div class="pagination">
    	{% if paginator.previous_page %}
    	{% if paginator.page == 2 %}
        <a href="{{ site.siteurl }}/">&laquo; Prev</a>
    	{% else %}
        <a href="{{ site.siteurl }}/page{{ paginator.previous_page }}/">&laquo; Prev</a>
    	{% endif %}    
		{% else %}
    	<span>&laquo; Prev</span>
		{% endif %}

	    {% if paginator.next_page %}
    	<a class='next' href="{{ site.siteurl }}/page{{ paginator.next_page }}/">Next &raquo;</a>
		{% else %}
    	<span class='next'>Next &raquo;</span>
    	{% endif %}
  		</div>
  		{% endif %}
	</div>  
</div>


<script src="{{ site.siteurl }}/hipertextos/js/jquery-1.11.1.js"></script>
<script src="{{ site.siteurl }}/hipertextos/js/infinite-srcoll.js"></script>

<script type="text/javascript">
// content selector is used to extract the additional items 
$('.content').jscroll({
    contentSelector: ".content",
    nextSelector: '.next'
});
</script>
	</div>
	<em><hr></em>
	<div>
			<section id="follows">
			{% include partials/suscribe.html %}
    		</section>
	</div>
</main>