---
layout: default
comments: true
---

  	{% include partials/head.html %}  	
<main id="page-main" role="main">
	<div id="layout">
					<nav class="nav-scroll anm-moveFromLeftFade">
						<div>
							<label for="layout-simple" title="Simple" id="label-simple" class="anm-zoomIn delay-500">Ampliar</label>
							<label for="layout-list" title="List" id="label-list" class="anm-zoomIn delay-600">Llista</label>
							<label for="layout-gallery" title="Gallery" id="label-gallery" class="anm-zoomIn delay-700">Galeria</label>
							<label for="theme-dark" id="label-dark" data-title="Dark theme" class="anm-zoomIn delay-800">Oscuro</label>
							<label for="theme-soft" id="label-soft" data-title="Soft theme" class="anm-zoomIn delay-900">Rojo</label>
							<label for="theme-light" id="label-light" data-title="Light theme" class="anm-zoomIn delay-1000">Claro</label>
						 </div>
					</nav>
					<hr>
					<input type="radio" name="layout" id="layout-simple" aria-hidden="true" hidden checked>
					<input type="radio" name="layout" id="layout-list" aria-hidden="true" hidden>
					<input type="radio" name="layout" id="layout-gallery" aria-hidden="true" hidden>
					<input type="checkbox" id="tools-check" name="tools" aria-hidden="true" hidden>
					
  		{% for post in site.posts %}
    	<div id="layout-result">
      		<article class="anm-fadeIn delay-1000">
				<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
				<strong>{{ post.category }}</strong>
        		<div>{% if post.id %}<a href="{{ site.baseurl }}{{ post.url }}"><img class="blog-img" src="https://i1.ytimg.com/vi/{{ post.img }}/maxresdefault.jpg"></a>{% endif %}{{ post.excerpt }}</div>
      			<nav><a href="{{ site.baseurl }}{{ post.url }}" class="read-more"><b>[+]</b></a></nav>
      		</article>
    	</div>
  		{% endfor %}
	</div>
	<em><hr></em>
	<div>
			<section id="follows">
			{% include partials/suscribe.html %}
    		</section>
	</div>
</main>
