/* by Isard Miralles  ADDING EXTRA to Blog - CSS */
/* ------------------------------------------------------------ Resets */

/* Posts */
#post-title, #date, #post-share {text-align: center;}
#post-video, #post-download, #post-share, #post-header {border:none;}
.post em u a { padding: 6px;border: 2px solid var(--color-grey);color: var(--color-grey);border-radius: 40px;width: 180px;margin-top: 18px;}
.post em u svg { width: 18px;}
#post-header {border-bottom: 9px solid var(--color-black);}
#post-img img { border-radius: 50%;height: 210px;float: left;margin: 0 23px 26px 0;object-fit: cover;width: 210px;}
#post-video {}
#post-download {}
#post-download p img {max-width:320px;float:left;border-radius:4px;margin:0 18px 12px 0;}
#post-download p em a {	font-size: 15px;line-height: 18px;margin-top:17px;}
#post-download em svg {	font-size: 18px;line-height: 18px;padding: 3px 0 0 0;}
figure iframe {width:100%;}
#post-share em a {color:#fff;border-radius:50%;}
#post-share em svg {padding:0px 0px 0px 7px;}
#post-share em a:hover {background:#fff !important;border:thin solid var(--color-link);}
#post-share em a:visited {background-color:var(--color-soft-grey)  !important;}

#tw {background:var(--color-green);}
#fb {background:var(--color-blue);}
#go {background:var(--color-orange);}

h3 a {color: var(--color-hardgrey) }
h3 a:hover {color: var(--color-link); text-decoration:none;}

/* nav Scroll */
.nav-scroll label {font-size: 11px;line-height: 12px;padding: 10px;font-weight: normal;}
.nav-scroll label.non-click {cursor: default ;}
.nav-scroll label img {width: 18px;height: 18px;margin-bottom: 8px;}
.nav-scroll label:hover {border:thin solid transparent;color:var(--color-black);text-decoration:none;}

/* Simple, List, Table, Gallery, Cards, Tiles */
.simple em u a,
#layout-simple:checked ~ #layout-result em u a {
    padding: 6px;border: 2px solid var(--color-hardgrey);
    color: var(--color-hardgrey);border-radius: 40px;
    width: 210px;margin-top: 23px;}
.simple em u a :hover,
#layout-simple:checked ~ #layout-result em u a:hover {
    color: var(--color-link);border: 2px solid var(--color-link); 
}
.simple em u svg,
#layout-simple:checked ~ #layout-result em u svg {
    width: 21px;}

/* Suscribe */
form .button {border:thin solid currentColor;margin-top:0.6em;}

@media (max-width: 1250px) {

}
@media (max-width: 1242px) {

}
@media (max-width: 768px) {
    .simple h3,
	#layout-simple:checked ~ #layout-result h3 {

	}
	.simple,
	#layout-simple:checked ~ #layout-result  {
	  
	}
}

@media (max-width: 432px) {

}