/* by Isard Miralles  ADDING EXTRA to About - CSS */
/* ------------------------------------------------------------ Resets */

#page-header.about-cover {background-image: url("/img/texture/dark.png");background-size:180px 180px;background-repeat: repeat;image-rendering: crisp-edges;}
#about-content {border:none;}
#about-icons a {border:none; }
#about-icons {text-align: center;top:12px;}
#avatar { margin: 0 19px 0 2%;float:left;padding: 2px; max-width:180px;margin-bottom:23px;}
.cover-page #page-header {border-bottom:10px solid var(--color-softtext);background-color: var(--color-black);color: rgba(220,220,220,1);}
.cover-page #page-main {color:currentcolor;}
.cover-page a, .cover-page a:visited {color:currentcolor !important;background-color: transparent !important;}
.cover-page a:hover {color:currentcolor !important;background-color: transparent !important;}
.cover-page  #coffee {  background: var(--color-background);background: -webkit-linear-gradient(red, var(--color-background));background: -moz-linear-gradient(red, var(--color-background)); background: linear-gradient(#eee, var(--color-background));}
.cover-page h5 {line-height:1.4em;font-weight: normal;margin:0;}
.cover-page h2, .cover-page h3 {text-align:center;}
.cover-page h2 {margin:0;}
.cover-page h3 {margin:0 0 60px 0;}
#about-content img {float:left;margin:9px 15px 9px 0;}
.cover-page p {line-height:1.4em;font-weight: normal;font-size:26px;}

#follow-yt {max-width:180px;float:left;text-align: center;margin-right:15px;}
section.full-cover {background:var(--color-black);padding:6% 19% 6% 19%;color:var(--color-blue);}
.full-cover div h4 {line-height:1.6em;}
#intro h4 {line-height:1.4em;padding-top:2%;margin-top:16px;}
#intro #spoilers h2, #intro #spoilers h6 {text-align: center!important;margin-bottom:6px;color:var(--color-transgrey);}


@media (max-width: 1250px) {
    section.full-cover {padding:5% 2% 5% 2%;}
    .cover-page p {font-size:16px;line-height:1.8em;}
}
@media (max-width: 768px) {
    section.full-cover {padding:5% 2% 5% 1%;}
	.full-cover div h4 {font-size:23px;line-height:1.4em;text-align: left;}
    .cover-page h4  {text-align:center;}
    .cover-page p {font-size:15px;line-height:1.5em;}
    .cover-page strong em a {width:100%;margin-bottom: 5px;}
}-