/* by Isard Miralles  ADDING EXTRA to Blog - CSS */
/* ------------------------------------------------------------ Resets */

#page {
    background-image: url("/img/texture/asfalt.png");background-size:466px 349px;background-repeat: repeat;image-rendering: crisp-edges;}
.post-dark#page-main h6, .post-dark#page-main h5, .post-dark#page-main h4, .post-dark#page-main h3, .post-dark#page-main h2, .post-dark#page-main p {color:var(--color-transwhite)!important;text-shadow:1px 2px 2px rgba(0,0,0,.5);}
.post-dark#page-main {border-bottom:8px solid var(--color-grey);}
/* Posts */
#post-title, #date, #post-share {text-align: center;}
#post-video, #post-download, #post-share, #post-header {border:none;}
.post em u a { padding: 6px;border: 2px solid var(--color-grey);color: var(--color-grey);border-radius: 40px;width: 180px;margin-top: 18px;}
.post em u svg { width: 18px;}
#post-header {color:var(--color-white);border-bottom: 6px solid var(--color-red);text-shadow:1px 2px 9px rgba(0,0,0,.5);}
#post-img img { border-radius: 50%;height: 210px;float: left;margin: 0 23px 26px 0;object-fit: cover;width: 210px;}
#post-video {}
#post-download {}
#post-download p img {max-width:320px;float:left;border-radius:4px;margin:0 18px 12px 0;}
#post-download p em a {	font-size: 15px;line-height: 18px;margin-top:17px;}
#post-download em svg {	font-size: 18px;line-height: 18px;padding: 3px 0 0 0;}
figure iframe {width:100%;}
figure div iframe {z-index: 10;}
#post-share em a {color:#fff;border-radius:50%;}
#post-share em svg {padding:0px 0px 0px 7px;}
#post-share em a:hover {background:#fff !important;border:thin solid var(--color-link);}
#post-share em a:visited {background-color:var(--color-soft-grey)  !important;}

#tw {background:var(--color-green);border:1px solid var(--color-green);}
#fb {background:var(--color-blue);border:1px solid var(--color-blue);}
#go {background:var(--color-orange);border:1px solid var(--color-orange);}

h3 a {color: var(--color-hardgrey) }
h3 a:hover {color: var(--color-link); text-decoration:none;}

/* Sticky navigation */

.nav-article div div[hidden] {
	display: block;
	padding: 0 2em;
	position: relative;
}
.nav-article strong label {
	display: none;
	padding-right: 26px;
	position: relative;
}
#page-nav.nav-article {
	background-color: inherit;
	position: -webkit-sticky; 
	position: sticky; 
	top: 0;
	left: 0;
	z-index: 3;
}

/* Related Posts */
#rel img.thumbnails {height: 200px;
	object-fit: cover;
	width: 100%;
}


@media (max-width: 1250px) {

}
@media (max-width: 1242px) {

}
@media (max-width: 768px) {

}
@media (max-width: 432px) {

}