<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/screen.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/components.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/helpers.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding-about.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/anime.css" />    
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    {% include favicons.html %}

  </head>

  <body>
  			<!-- Theme inputs (invisibles) -->		
		<input type="radio" id="theme-light" name="theme" aria-hidden="true" hidden>
		<input type="radio" id="theme-soft" name="theme" aria-hidden="true" hidden>
		<input type="radio" id="theme-dark" name="theme" aria-hidden="true" hidden>
		
	<!-- Page content -->
	<div class="page cover-page" id="page">
	{% include partials/navigation/nav.html %}
		<header id="page-header" class="about-cover anm-moveFromTop">
			<div>
					<img src="{{ site.avatar }}" id="avatar" class="anm-scaleUp delay-200" rel="Logo Videos Manguis">
					<h1 class="anm-scaleUpCenter delay-300">{{ site.name }}</h1>
					<h5 class="anm-scaleUpCenter delay-500">{{ page.led }}</h5>
			</div>
		</header>
		<main id="page-main">
			<div id="about-icons" class="anm-zoomIn delay-500">
				<div>
					<p>
{% if site.footer-links.youtube %}<em><a href="https://youtube.com/{{ site.footer-links.youtube }}" title="Síguenos en Youtube"><img class="dialog-svg" src="{{ site.baseurl }}/hipertextos/svg/youtube.svg" alt="botó YouTube"><br>YouTube</a></em>{% endif %}
{% if site.footer-links.twitter %}<em><a href="https://www.twitter.com/{{ site.footer-links.twitter }}" title="Síguenos en Twitter"><img class="dialog-svg" src="{{ site.baseurl }}/hipertextos/svg/twitter.svg" alt="botó Twitter"><br>Twitter</a></em>{% endif %}
{% if site.footer-links.facebook %}<em><a href="https://www.facebook.com/{{ site.footer-links.facebook }}" title="Síguenos en Facebook"><img class="dialog-svg" src="{{ site.baseurl }}/hipertextos/svg/facebook.svg" alt="botó facebook"><br>Facebook</a></em>{% endif %}
{% if site.footer-links.googleplus %}<em><a href="https://google.plus.com/{{ site.footer-links.googleplus }}" title="Síguenos en Google Plus"><img class="dialog-svg" src="{{ site.baseurl }}/hipertextos/svg/google-plus.svg" alt="botó Google Plus"><br>Google Plus</a></em>{% endif %}
{% if site.footer-links.instagram %}<em><a href="https://instagram.com/{{ site.footer-links.instagram }}" title="Síguenos en Instagram"><img class="dialog-svg" src="{{ site.baseurl }}/hipertextos/svg/instagram.svg" alt="botó Instagram"><br>Instagram</a></em>{% endif %}
					</p>
				</div>
			</div>
				<div id="follow-yt" class="thumb-3 anm-fadeIn delay-600">
					<h2>Síguenos!</h2>
					<script src="https://apis.google.com/js/platform.js"></script>
					<div class="g-ytsubscribe" data-channelid="UCHffnAhZO1wWlhxRg0mAf2w" data-layout="default" data-count="default"></div>
				</div>
				<div id="intro" class="thumb-6 anm-fadeIn delay-600">
					<h5>{{ page.about }}<br>{{ page.lab }}</h5>
					<em><hr></em>
					<h5>{{ page.intro }}</h5>
				</div>
			<hr>
			<section id="starwars" class="full-cover anm-fadeIn delay-800">
				<div>
					<h4>{{ page.previ }}</h4>
				</div>
			</section>
			<div>
				<section>
					<hr>
					<article id="about-content"  class="anm-moveFromBottomFade delay-900">
					{{ content }}
					</article>
				</section>
			</div>

			{% include partials/credits.html %}
		</main>
		{% include partials/footer.html %}
	</div><!-- /#page -->
	
		<!-- Out of page
		================================================== -->

		<!-- Tools switcher -->  		
  		<div id="tools-switcher">
  			<label for="tools-check" data-title="Modos	" class="pophover">+</label>
  		</div>
		<!-- Tools nav -->
		<input type="checkbox" id="tools-check" name="Modos" aria-hidden="true" hidden>
		<nav id="tools-nav">
			<label for="tools-check" id="label-tools" data-title="Cerrar" class="pophover">x</label>
			<label for="theme-dark" id="label-dark" data-title="Modo Oscuro" class="pophover"></label>
			<label for="theme-soft" id="label-soft" data-title="Modo Rojo" class="pophover"></label>
			<label for="theme-light" id="label-light" data-title="Modo Claro" class="pophover"></label>
		</nav>
		
    {% include partials/dialog.html %}  
    {% include partials/rights.html %}  

    <!-- Scripts
    ================================================== -->
  	<script src="{{ site.baseurl }}/hipertextos/js/jquery.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/anime.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/icons.js"></script>
  </body>
</html>
