<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/screen.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/components.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/helpers.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding-about.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/anime.css" />    
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    {% include favicons.html %}

  </head>

  <body>
  			<!-- Theme inputs (invisibles) -->		
		<input type="radio" id="theme-light" name="theme" aria-hidden="true" hidden>
		<input type="radio" id="theme-soft" name="theme" aria-hidden="true" hidden>
		<input type="radio" id="theme-dark" name="theme" aria-hidden="true" hidden>
		
	<!-- Page content -->
	<div class="page cover-page" id="page">
	{% include partials/navigation/nav.html %}
		<header id="page-header" class="about-cover anm-moveFromTop">
			<div>
				<h1 class="anm-moveFromBottomFade delay-100">{{ page.title }}</h1>
			</div>
		</header>
		<main id="page-main">
			<div>
				<section class="anm-moveFromBottomFade delay-200">
					<img src="{{ site.avatar }}" id="avatar" class="anm-scaleUp delay-400" rel="Logo Videos Manguis">
					<h1 class="anm-scaleUpCenter delay-400">{{ site.name }}</h1>
					<h5 class="anm-scaleUpCenter delay-500">{{ page.led }}</h5>
					<hr>
					<div id="about-icons">
						<div>
							<p>
								<em><a href="mailto:{{ site.footer-links.email }}"><img class="dialog-svg" src="{{ site.baseurl }}/hipertextos/svg/gmail.svg" alt="botó eMail"><br>eMail</a></em>
								<em><a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><img class="dialog-svg" src="{{ site.baseurl }}/hipertextos/svg/twitter.svg" alt="botó Twitter"><br>Twitter</a></em>
								<em><a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><img class="dialog-svg" src="{{ site.baseurl }}/hipertextos/svg/facebook.svg" alt="botó facebook"><br>Facebook</a></em>
								<em><a href="https://instagram.com/{{ site.footer-links.instagram }}"><img class="dialog-svg" src="{{ site.baseurl }}/hipertextos/svg/instagram.svg" alt="botó Twitter"><br>Instagram</a></em>
								<em><a href="{{ site.baseurl }}/hipertextos/brand/vcard.vcf" download=".vcard"><img class="dialog-svg" src="{{ site.baseurl }}/hipertextos/svg/arrows.svg" alt="botó desar vCard"><br>vCard</a></em>
							</p>
						</div>
					</div>
					<article id="about-content">
					{{ content }}
					</article>
				</section>
			</div>

			{% include partials/credits.html %}
    		{% include partials/coffee.html %}   		
		</main>
		{% include partials/footer.html %}
	</div><!-- /#page -->
	
		<!-- Out of page
		================================================== -->

		<!-- Tools switcher -->  		
  		<div id="tools-switcher">
  			<label for="tools-check" data-title="Modos	" class="pophover">+</label>
  		</div>
		<!-- Tools nav -->
		<input type="checkbox" id="tools-check" name="Modos" aria-hidden="true" hidden>
		<nav id="tools-nav">
			<label for="tools-check" id="label-tools" data-title="Cerrar" class="pophover">x</label>
			<label for="theme-dark" id="label-dark" data-title="Modo Oscuro" class="pophover"></label>
			<label for="theme-soft" id="label-soft" data-title="Modo Rojo" class="pophover"></label>
			<label for="theme-light" id="label-light" data-title="Modo Claro" class="pophover"></label>
		</nav>
		
    {% include partials/dialog.html %}  
    {% include partials/rights.html %}  

    <!-- Scripts
    ================================================== -->
  	<script src="{{ site.baseurl }}/hipertextos/js/jquery.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/anime.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/icons.js"></script>
  </body>
</html>
