---
layout: default
---

	{% include partials/navigation/nav-article.html %}
	<header id="post-header" class="head-band anm-moveFromLeft">
    <div id="back-header" class="img-bolo head-band anm-fadeIn delay-1000 extra-slow" style="background-image: url('https://i1.ytimg.com/vi/{{ page.img }}/maxresdefault.jpg');">
	</div>
			<h1 id="post-title" class="anm-moveFromBottomFade delay-800 extra-slow">{{ page.title }}</h1>
	</header>
    <main id="page-main" class="post-dark">
		<div>
			<article id="post-video" class="post">
				<div id="entry" class="anm-fadeIn delay-1500">
					<div>
						<figure>
							<div>
								<iframe width="1280" height="720" src="https://www.youtube.com/embed/{{ page.img }}" frameborder="0" allowfullscreen></iframe>
							</div>
						</figure>
					</div>
					<figure id="post-img">
						<img src="https://i1.ytimg.com/vi/{{ page.img }}/maxresdefault.jpg">
					</figure>
	    			{{ content }}
				</div>
				<em><hr></em>
				<div class="labels">
   				{% if post.tags %} | 
				{% for tag in post.tags %}
				<a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
    			{% endfor %}
    			{% endif %}
				</div>
				<aside id="post-share">
					{% include share.html %}
				</aside>
				<div id="date">
    				<p>Publicat el {{ page.date | date: "%e %B , %Y" }}</p>
  				</div>
			</article>
		</div>
	</main>
